{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header_refrences.html' %}
    {% include 'header.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>

    <!-- External CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .editable-field {
            color: #aaa; /* Color for the default text */
            font-style: italic;
        }

        .editable-input {
            font-weight: bold;
            color: #333;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h3 class="card-title">Edit Profile</h3>

            <form method="POST">
                {% csrf_token %}

                <!-- فیلد نام کامل -->
                <div class="form-group">
                    <label for="fullname">Full Name</label>
                    <input type="text" class="form-control" id="fullname" name="fullname"
                           value="{{ form.fullname.value|default_if_none:'' }}">
                </div>

                <!-- فیلد ایمیل (غیرقابل ویرایش) -->
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ form.email.value }}"
                           readonly>
                </div>

                <!-- فیلد شماره تلفن -->
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phone"
                           value="{{ form.phone.value|default_if_none:'' }}">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" value="{{ form.address.value|default_if_none:'' }}">
                </div>

                <!-- دکمه ارسال -->
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>

        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
